/* leaving the border style commented out to be used as a tool for
future updates to the site.
* {
    border: 1px solid red !important;
}
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
  }

.row {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333333;
}

.login-area {
    font-size: 13px;
    color: #808080;
    position: absolute;
    top: 10px;
    right: 50px;
}

.login-link {
    color: #808080;
    text-decoration: none;
}

.login-link:visited {
    color: #808080;
}

.login-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: #FF0000;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=password] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-form-title {
    font-size: 20px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    color: #999999;
    text-align: right;
}

.backgrnd-color{
  background-color: #e6e6e6;
}

.post-content {
    margin-top: 5px;
}

.comment-heading {
    position: relative;
    border-top: 1px solid #000000;
}

.comment-title {
    font-size: 24px;
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

.comment-form-title {
    font-size: 20px;
    font-weight: bold;
    text-decoration:underline;
}

.blog-title {
  font-weight: bold;
  font-size: 20px;
}

.blog-body {
  margin: 0;
  font-size: 17px;
}

.links-area {
  display: block;
  font-size: 13px;
  color: #808080;
  position: relative;
  text-align: right;
  right: 0px;
}

.links-link {
    color: #808080;
    text-decoration: none;
}

.links-link:visited {
    color: #808080;
}

.links-link:hover {
    text-decoration: underline;
}


p {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.likes {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.button {
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
