<!-- This comment-delete.html page contains the code that displays the delete
comment form along with any error messages. -->

{% extends "base.html" %}

{% block content %}
  <h2>Delete the Comment Page</h2>

  <form method="post">

    <div class="error">
      <h3>Confirm that you want to Delete the comment by hitting the
          Delete button below.</h3>
    </div>

    <label class="comment-content">
      <div class="comment-form-title">Subject</div>
        {{subject}}
    </label>
    <br>
    <br>

    <label class="comment-content">
      <div class="comment-form-title">Post Content</div>
        {{content}}
    </label>
    <br>
    <br>

    <label class="comment-content">
      <div class="comment-form-title">Comment</div>
        <textarea name="comment" rows="8" cols="80">{{comment}}</textarea>
    </label>
    <br>

    <div class="error">
      <h3>{{error}}</h3>
    </div>
    <br>

    <input value = "Delete" type="submit" name="del">
    <input value = "Cancel" type="submit" name="can">
    <br>
    <br>
    <br>

  </form>
{% endblock %}
